* {
	font-family: 'Be Vietnam Pro', sans-serif;
}

#body {
	background-image: url("https://i.gifer.com/Ym11.gif");
}

.navbar-brand {
	font-family: 'Anton', sans-serif;
	font-family: 'Be Vietnam Pro', sans-serif;
	font-family: 'Bebas Neue', cursive;;
	letter-spacing: 5px;
}

.navbar {
	border-bottom: 1px solid black;
}


#form {
	font-family: 'Encode Sans SC', sans-serif;
	font-family: 'Sunshiney', cursive;
	font-size: 45px;
}

#messagebox {
	overflow: hidden;
}

#footer {
	letter-spacing: 10px;
	margin-top:75px;
	font-size: 12px;
	font-weight: 10px;
}