* {
	font-family: 'Be Vietnam Pro', sans-serif;
}

#body {
	background-image: url("https://i.gifer.com/Ym11.gif");
}

.navbar-brand {
	font-family: 'Anton', sans-serif;
	font-family: 'Be Vietnam Pro', sans-serif;
	font-family: 'Bebas Neue', cursive;;
	letter-spacing: 5px;
}

.navbar {
	border-bottom: 1px solid black;
}

#heading {
	font-family: 'Encode Sans SC', sans-serif;
	letter-spacing: 10px;
	font-size: 30px;
	/*padding-bottom: 5px;*/
	font-weight: 20px;
}

#subheading {
	font-size: 16px;
	padding-bottom: 2%;
}

#carousel1 {
	max-width: 100%;
	max-height: 100%;
}

#footer {
	letter-spacing: 10px;
	padding-top: 50px;
	margin-top: 5rem;
	font-size: 12px;
	font-weight: 10px;
}
